<launch>


  <node name="recognizer" pkg="speech_processing" type="recognizer.py" output="screen">

    <remap from="recognizer/output" to="voice/output" />

    <param name="lm" value="$(find speech_processing)/dic/resturant/resturant.lm"/>

    <param name="dict" value="$(find speech_processing)/dic/resturant/resturant.dic"/>

  </node>


</launch>
