<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py">
    <param name="lm" value="$(find pocketsphinx)/demo/voice_goal.lm"/>
    <param name="dict" value="$(find pocketsphinx)/demo/voice_goal.dic"/>
  </node>

  <node name="voice_move_base" pkg="pocketsphinx" type="voice_move_base.py"/>

</launch>
