<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer_move.py">
    <param name="lm" value="$(find pocketsphinx)/demo/voice_goal.lm"/>
    <param name="dict" value="$(find pocketsphinx)/demo/voice_goal.dic"/>
  </node>

  <node name="voice_move_base" pkg="pocketsphinx" type="voice_move_base.py">
    <param name="xA" type="double" value="34.5"/>
    <param name="yA" type="double" value="55.0"/>
    <param name="thA" type="double" value="1.57"/>
  </node>


</launch>
