<launch>
  <node name="recognizer_grammar" pkg="speech_processing" type="recognizer_grammar_gst1.py" output="screen">
    <remap from="recognizer_grammar/output" to="voice/output" />
    <param name="grammar" value="$(find speech_processing)/voice_recog/50_questions_Ger2016/50_questions_Ger2016.fsg"/>
    <param name="dict" value="$(find speech_processing)/voice_recog/50_questions_Ger2016/50_questions_Ger2016.dic"/>
  </node>
</launch>
