<launch>
  <node name="recognizer_grammar" pkg="speech_processing" type="recognizer_grammar.py" output="screen">
    <remap from="recognizer_grammar/output" to="voice/output" />
    <param name="grammar" value="$(find speech_processing)/dic/question_Frank/50_question.fsg"/>
    <param name="dict" value="$(find speech_processing)/dic/question_Frank/50_question.dic"/>
  </node>
</launch>