<launch>

  <node name="recognizer_grammar" pkg="speech_processing" type="recognizer_grammar.py" output="screen">
    <remap from="recognizer_grammar/output" to="voice/output" />
    <param name="grammar" value="$(find speech_processing)/dic/TECHNICAL/technical.fsg"/>
    <param name="dict" value="$(find speech_processing)/dic/TECHNICAL/technical.dic"/>
  </node>

</launch>
