<launch>

  <node name="recognizer_grammar" pkg="pocketsphinx" type="recognizer_grammar.py" output="screen">
    <remap from="recognizer/output" to="voice/output" />
    <param name="grammar" value="$(find pocketsphinx)/dic/cocktail.fsg"/>
    <param name="dict" value="$(find pocketsphinx)/dic/cocktail.dic"/>
  </node>

</launch>
