<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer_grammar.py" output="screen">
    <remap from="recognizer/output" to="voice/output" />
    <param name="grammar" value="$(find pocketsphinx)/dic/GPSR.fsg"/>
    <param name="dict" value="$(find pocketsphinx)/dic/GPSR.dic"/>
  </node>

</launch>
